table.bx-edit-table td.bx-padding {
	padding-top: 6px!important;
}

table#tab_bizproc_edit_table td.field-name {
	width: 26% !important;
}

table#tab_bizproc_edit_table tr:nth-of-type(2)  {
	display: none;
}

table#tab_bizproc_edit_table tr:nth-of-type(3) td {
	background-image: none !important;
}

.bx-order-edit-content-location-description {
	color: #8F8F8F;
	font-size: 11px;
}

.bx-order-edit-content-block-element .search-suggest {
	position: relative;
	left: -4px;
}

.order-edit-field-table {
	border-spacing: 0;
	border:1px solid #D9D9D9;
	width:100%;
}
.order-edit-field-table th,
.order-edit-field-table td{
	border-spacing: 0;
	border:1px solid #D9D9D9;
	text-align: center;
	padding: 5px;
	background-color: white;
}
